.loading-icon {
  display: inline-block;
  animation: icon_rotation 2s infinite linear;
}

@keyframes icon_rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
